.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    width: 648px;
    height: 255px;
    border-radius: 20px;
    background: #fff;
}

.modal-children h2 {
    color: var(--black-black_414141, #414141);
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.modal-children {
    margin: 80px 0 56px 0;
}
.modal-cofirm-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.modal-buttons.single {
    width: 600px;
}

.modal-buttons.multi {
    display: flex;
    gap: 24px;
    justify-content: center;
}
