.chip {
    width: 400px;
    min-height: 54px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chip-state--default {
    background-color: #eee;
    color: #818181;
}
.chip-state--active {
    background-color: #99c08e;
    color: #ffffff;
}
