/*dropdown 컴포넌트*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    width: 100%;
    height: 42px;
    background-color: #ffffff;
    padding: 9px 20px;
    font-size: 16px;
    color: #818181;
    border: 1px solid;
    border-color: #dddddd;
    border-radius: 15px;
    cursor: pointer;
}

/*눌렀을때 나오는 메뉴칸*/
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 8px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
    width: 180px;
    height: 168px;
    overflow: hidden;
    z-index: 10;
}

/*열릴 때*/
.dropdown-content.show {
    display: block;
}

.dropdown-content li {
    list-style-type: none;
    height: 42px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*호버 효과*/
.dropdown-btn:hover {
    border-color: #c5c5c5;
    background: #f8f8f8;
}

.dropdown-content li:hover {
    background-color: #f9fafb;
}
