.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 14px;
    font-weight: 500;
}

.input-box {
    position: relative;
}

.input-field {
    width: 100%;
    height: 48px;
    border-radius: 16px;
    border: 1px solid var(--gray-gray_DDDDDD, #ddd);
    background: #fff;
    padding: 12px 20px;
    box-sizing: border-box;
    color: var(--gray-gray_818181, #818181);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-field--multiline {
    min-height: 98px;
    resize: none;
}

.input-field--large {
    height: 98px;
    padding: 0 20px;
    border-radius: 16px;
    white-space: nowrap;
}

.input-field::placeholder {
    color: var(--gray-gray_818181, #818181);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-field.input-error {
    border-color: red;
}

.input-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-error-message {
    font-size: 12px;
    color: red;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-4px);
    }
    40% {
        transform: translateX(4px);
    }
    60% {
        transform: translateX(-4px);
    }
    80% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.25s ease-in-out;
}
