.reaction-add-btn {
    width: 67px;
    height: 31px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.icon {
}
.label {
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;
}
