.Toastify__toast-container {
    z-index: 9999;
}

.custom-toast {
    display: flex;
    background: var(--pink-pink_FDE0E9, #fde0e9);
    border-radius: 12px;
    padding: 14px 28px;
    color: var(--red-red_F50E0E, #f50e0e);
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    border: 1px solid rgba(148, 163, 184, 0.4);
    align-items: center;
}

.custom-toast-body {
    font-weight: 500;
    line-height: 1.4;
}

.Toastify__toast-icon {
    display: none !important;
}
