
.toast {
  padding: 14px 18px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  font-style: medium;
  animation: fadeInOut 2s forwards;
}

.toast.point {
  color: #578246;
  margin-left: 8px;
  background-color: #e1edde;
}

/*숫자 강조*/
.point_number {
  font-weight: 700;
}

.toast.warning {
  color: #f74747;
  background-color: #fde0e9;
}

/*애니메이션*/
@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}