/* Toast 컴포넌트*/

.point_content {
    font-size: 16px;
    font-weight: 500;
    color: #578246;
    margin-left: 8px;
    font-style: medium;
    background-color: #E1EDDE;

}

.point_lg {
    font-size: 16px;
}

.point_sm {
    font-size: 14px;
}

.point_number_1 {
    font-weight: bold;
}

.warning_content {
    font-size: 16px;
    font-weight: 500;
    color: #F74747;
    font-style: medium;
    background-color: #FDE0E9;
}

.warning_lg {
    font-size: 16px;
}

.warning_sm {
    font-size: 14px;
}   