.focus-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 39px;
}

.focus-content {
    width: 1168px;
    padding: 40px;
    border-radius: 20px;
    background: #fff;
}

.focus-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.focus-content-button {
    display: flex;
    gap: 16px;
}
.focus-header-title h2 {
    color: #414141;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.focus-total-point {
    color: var(--gray-gray_818181, #818181);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 16px 0 8px 0;
}

.focus-today {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 40px 24px;
    width: 1120px;
    height: 551px;
    border-radius: 20px;
    border: 1px solid var(--gray-gray_DDDDDD, #ddd);
    background: #fff;
}

.focus-today h2 {
    color: var(--black-black_414141, #414141);
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.focus-box {
    width: 100%;
}

.focus-timmer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 94px;
    color: var(--black-black_414141, #414141);
    text-align: center;
    font-family: Pretendard;
    font-size: 150px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.focus-start-button {
    display: flex;
    justify-content: center;
}
