.habit-container {
    display: flex;
    justify-content: center;
    margin-top: 39px;
    padding: 0 24px;
}

.habit-content {
    width: 1120px;
    padding: 40px;
    border-radius: 20px;
    background: #fff;
}

.habit-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habit-content-button {
    display: flex;
    gap: 16px;
}
.habit-header-title h2 {
    color: #414141;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.habit-now-time {
    color: var(--gray-gray_818181, #818181);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 16px 0 8px 0;
}
.habit-time-box {
    display: flex;
    padding: 8px 12px;
    width: 160px;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.3);
}

.habit-time-box p {
    color: var(--black-black_414141, #414141);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.habit-title-row {
    /* width: 100%; */
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
}
.habit-title-row h2 {
    color: #414141;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    color: var(--black-black_414141, #414141);
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.habit-today {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    min-height: 510px;
    padding: 40px 24px;
    border-radius: 20px;
    border: 1px solid var(--gray-gray_DDDDDD, #ddd);
    background: #fff;
    position: relative;
}

.habit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    /* width: 100%; */
    height: auto;
}
/* habit.css */
.habit-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.habit-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.habit-edit-button {
    border: none;
    background: none;
    color: #818181;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.habit-chip-list {
    flex: 1;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
    padding-right: 4px;
}

.habit-empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #818181;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
}
