.habit-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 39px;
}

.habit-content {
    width: 1168px;
    padding: 40px;
    border-radius: 20px;
    background: #fff;
}

.habit-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habit-content-button {
    display: flex;
    gap: 16px;
}
.habit-header-title h2 {
    color: #414141;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.habit-now-time {
    color: var(--gray-gray_818181, #818181);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 16px 0 8px 0;
}
.habit-time-box {
    display: flex;
    padding: 8px 12px;
    width: 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.3);
}

.habit-time-box p {
    color: var(--black-black_414141, #414141);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.habit-today {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    padding: 40px 24px;
    width: 1120px;
    height: 551px;
    border-radius: 20px;
    border: 1px solid var(--gray-gray_DDDDDD, #ddd);
    background: #fff;
    position: relative;
}

.habit-today h2 {
    color: var(--black-black_414141, #414141);
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.habit-box {
    display: flex;
    flex-direction: column;
}
