.study-main-container {
    width: 100%;
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.study-section {
    width: 648px;
    padding: 24px 24px 40px;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 57px;
}

.bg-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
}

.study-header-title {
    color: #414141;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.study-form p {
    color: var(--black-black_414141, #414141);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 24px 0 16px;
}

.select-background {
    margin-bottom: 24px !important;
}

.error-text {
    color: var(--red-error_C41013, #c41013) !important;
    font-family: Pretendard !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-top: 8px !important;
}

.study-make-button {
    margin-top: 40px;
}
