.emoji-button,
.emoji-button--add {
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.emoji-button:hover,
.emoji-button--add:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.emoji-button__icon {
    width: 16px;
    height: 16px;
}

.emoji-button__count {
    width: 19px;
    height: 19px;
    font-size: 16px;
    margin-left: 5px;
}
