.gnb-header {
    background-color: #f6f4ef;
}
.gnb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 220px;
}

.gnb-logo {
    width: 182px;
    height: 60px;
}

@media (max-width: 768px) {
    .gnb {
        padding: 20px 24px;
    }

    /* .gnb.gnb--home .btn.btn--lg {
    width: 140px;
  } */
}

@media (max-width: 480px) {
    .gnb-logo {
        width: 106px;
        height: 35px;
    }
}
