.study-main-container {
    width: 100%;
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.study-section {
    width: 648px;
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
}
