/* Input 컴포넌트 */
input { 
  display: block; 
  width: 100%; 
  height: 56px; 
  padding: 16px 24px;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  background: #F3F4F6;
  font-size: 16px;
}

input::placeholder { 
  color: #9CA3AF; 
}

input:focus {
  outline: none;

}

/* 에러 상태 */
input.error {
  border: 1px solid #F74747;
}

/* 에러 메시지 */
.error-message {
  color: #F74747;
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0 0 0;
  display: none;
}

.error-message.show {
  display: block;
}

/* 비밀번호 input (눈 아이콘) */
input[type="password"] {
  background: url('eye1.svg') no-repeat right 12px center, #F3F4F6;
  background-size: 20px auto;
  padding-right: 44px;
}

/* 눈 아이콘- 이 부분 햇갈림*/
.toggle-password {
  position: absolute;
  right: 16px;
  top: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  /*transform: translateY(-50%);*/
}