.card {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    height: 177px;
    position: relative;
}
.card--sm {
    width: 180px;
    height: 120px;
    padding: 16px;
}
.card--lg {
    padding: 30px;
}

/* 배경 레이어 (이미지/컬러 들어가는 곳) */
.card-bg-layer {
    position: absolute;
    inset: 0; /* top:0, right:0, bottom:0, left:0 */
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.card-bg-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.card > article {
    position: relative;
    z-index: 2;
}

/* 카드헤더 - title + point 태그 + day  */
.title-box {
    display: flex;
    color: #414141;
    /* align-item: center;
  justify-content: center; */
    /* flex-direction: row;
*/
}

.title-box.title-box-sm {
    display: flex;
    flex-direction: column-reverse;
    gap: 6px;
    margin-bottom: 12px;
}

.title-box.title-box-lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .title-box.title-box-lg p {
  text-align: center;
} */
.title-box p {
    font-weight: 700;
    min-width: 193px;
    max-width: 230px;
    min-height: 36px;
}

body > * {
    font-family: Pretendard;
}

.title-sm {
    font-size: 16px;
}
.title-lg {
    font-size: 18px;
}
.auther {
    color: #578246;
}
/* 목표 문구 */
.goal-sm {
    margin-bottom: 11px;
}
.goal-lg {
    overflow: hidden;
    margin-top: 30px;
    height: 54px;
    line-height: calc(54px / 2);
    overflow-wrap: anywhere;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 제한 줄수 */
    -webkit-box-orient: vertical;
}

.card--text-light {
    color: #fff;
}

.card--text-light .auther,
.card--text-light .title-lg,
.card--text-light .title-sm,
.card--text-light .goal-lg,
.card--text-light .goal-sm,
.card--text-light.Card-day-text {
    color: #fff;
}

/* .title-box-dark > * {
    color: #414141;
}
.title-box-light > * {
    color: ##ffffff;
} */
/* reaction 태그들  */
.card--reactions {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 5px;
    margin: 0;
}
.Card-day-text {
    color: #818181;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-dark-overlay {
    background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 480px) {
    .title-lg {
        font-size: 16px;
    }
    .Card-day-text {
        font-size: 12px;
    }
    .title-box.title-box-lg {
        flex-direction: column-reverse;
        padding-bottom: 0;
    }
    .title-box p {
        margin-bottom: 6px;
        min-height: 0;
    }
    .goal-lg {
        font-size: 14px;
        margin-top: 12px;
    }
}
