.modal-habit-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-habit-container {
    width: 648px;
    height: auto;
    border-radius: 20px;
    background: #fff;
}

.modal-habit-content {
    padding: 40px 24px;
}
.modal-habit-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-habit-header h2 {
    color: var(--black-black_414141, #414141);
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.modal-habit-footer {
    display: flex;
    gap: 24px;
    justify-content: center;
}
