body {
    font-family:
        "Pretendard",
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        sans-serif;
}

@font-face {
    font-family: "EF_jejudoldam";
    src: url("../fonts/EF_jejudoldam.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
