.Container {
  width: 1248px;
  height: 774px;
  border: none;
  border-radius: 20px;
  padding: 40px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 53px;
}
.Container-header {
  margin-bottom: 24px;
}
.Container-title-box {
  display: flex;
  justify-content: space-between;
}
.Container-title-box h1 {
  color: #414141;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 21px;
}
.nav-links {
  display: flex;
  gap: 16px;
}
.Container-subheading {
  color: #818181;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}
.content-box {
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 546px;
  padding: 40px 24px;
  flex-direction: column;
  gap: 10px;
}

.content-box h2 {
  color: #414141;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 100px;
}
.time {
  color: #414141;
  text-align: center;
  font-size: 150px;
  font-weight: 800;
  margin-bottom: 94px;
}
