.gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

/* gnb Size */
.gnb--sm {
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 343px;
  padding: 16px;
}

.gnb--lg {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1480px;
  padding: 24px;
}

/* logo size */
.logo--sm {
  width: 106px;
  height: 35px;
}

.logo--lg {
  width: 182px;
  height: 60px;
}
